.pet-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 190px;
}

.pet-info {
    flex: 0.9;
    margin-left: 70px;
    flex-wrap: wrap;
    text-align: justify
}

.info-text {
    font-size: 24px
}

.description-text {
    font-size: 20px;
    margin-top: 35px
}

.gallery {
    display: flex;
    flex: 1;
    gap: 15px;
}

.pet-photo {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.nav-btn {
    width: 40px;
    height: fit-content;
    font-size: 24px;
    color: #643E78;
    border: 1.5px solid black;
    cursor: pointer;
    margin-top: 170px
}

.nav-btn:hover {
    transform: scale(1.05);
}



.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    width: 1040px;
    margin: 30px auto;
    border-radius: 15px;
    z-index: 1001;
}
.auxiliary-link {
    color: #643E78;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    margin-top: 80px
}
.auxiliary-link:hover {
    text-decoration: underline;
}
.auxiliary-link img {
    width: 12px;
    height: 12px;
    margin-left: 19px
}
.close-button {
    border-radius: 50%;
    font-size: 24px;
    border-width: 0px;
    width: 30px;
    color: #606C7F;
    margin-left: 750px;
    cursor: pointer
}
.close-button:hover {
        background: #D2DAE8
}
.text_step {
    font-size: 24px;
    color: #643E78;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px
}
.steps {
    margin: auto 40px;
}

.for-close-button {
    text-align: right;
}