input,
textarea {
    max-width: 270px;
    border-radius: 2px;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
        cursor: pointer;
}

button,
input,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
}
html input[type="submit"] {
    display: inline-block;
    padding: 11px 21px;
    background-color: #643E78;
    color: white;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
}

html input[type="submit"]:hover {
    background-color: #7e5a9c;
}
input[type="file"] {
    margin-top: -10px;
}
.photo-text {
    margin-top: 21px
}
input[type="file"]::file-selector-button {
    background-color: white;
    color: #643E78;
    border: 1px solid #ccc;
    padding: 6px 22px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 13px;
}
html input[type="text"],
textarea
{
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px
}
form {
    margin-top: 35px;
    margin-bottom: -45px
}