body
{
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    padding-left: 0;
}
.navbar-nav li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.navbar-nav li a:hover {
        color: cornflowerblue;
}