.pet-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 190px;
}

.pet-info {
    flex: 0.9;
    margin-left: 70px;
    flex-wrap: wrap;
    text-align: justify
}

.info-text {
    font-size: 24px
}

.description-text {
    font-size: 20px;
    margin-top: 35px
}

.gallery {
    display: flex;
    flex: 1;
    gap: 15px;
}

.pet-photo {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.nav-btn {
    width: 40px;
    height: fit-content;
    font-size: 24px;
    color: #643E78;
    border: 1.5px solid black;
    cursor: pointer;
    margin-top: 170px
}
footer {
   
}