@font-face {
    font-family: 'baseFont';
    src: url('/static/fonts/SofiaSans-VariableFont_wght.ttf') format('truetype');
}
body {
    font-family: 'baseFont';
    margin: 0;
}
.navbar {
    display: flex;
    gap: 50px;
    padding-left: 0;
}
.navbar a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.navbar a:hover {
    color: cornflowerblue;
}
.navbar-brand {
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 8px;
}
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
}
.button {
    display: inline-block;
    padding: 10px 25px;
    background-color: #643E78;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}
.logo {
    width: 70px;
    height: 70px;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.head-p {
    font-size: 55px;
}

.footer {
    background-color: #4a4542;
    color: white;
}

.footer p span {
    margin-left: 10px;
    font-size: 18.5px
}

.final {
    color: #928F8E;
    font-size: 14px
}

hr {
    border: none;
    border-top: 1px solid #928F8E;
}
.Contacts-p {
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: cornflowerblue;
    text-underline-offset: 7px;
}