@font-face {
    font-family: 'baseFont';
    src: url('/static/fonts/SofiaSans-VariableFont_wght.ttf') format('truetype');
}
body {
    font-family: 'baseFont';
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    gap: 70px;
    padding-left: 0;
    padding-right: 40px
}
.navbar a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.navbar a:hover {
    color: cornflowerblue;
}
.navbar-brand {
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 7px
}
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
}
.button {
    display: inline-block;
    padding: 13px 35px;
    background-color: #643E78;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    margin-right: 30px
}
.logo {
    width: 70px;
    height: 70px;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.head-p {
    font-size: 55px;
    margin-left: 20px
}

.footer {
    background-color: #181e21;
    color: white;
    padding-left: 20px;
    margin-top: auto;
    box-shadow: 0 -7px 10px rgba(0, 0, 0, 0.3);
}

.footer p span {
    margin-left: 10px;
    font-size: 18.5px
}

.final {
    color: #928F8E;
    font-size: 14px;
    padding-bottom: 12px
}

hr {
    border: none;
    border-top: 1px solid #928F8E;
}
.Contacts-p {
    padding-top: 20px;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: cornflowerblue;
    text-underline-offset: 7px;
}
.icons {
    display: flex;
    gap: 15px;
    padding-left: 0;
}
.icon:hover {
    filter: grayscale(100%) brightness(70%);
}